@media screen and (max-width:992px) {
    #aboutFirstParagraph{
        padding: 20px 30px;
    }
    .formInfo{
        width: 90%;
        padding: 0px 40px;
    }
}
@media screen and (max-width:600px) {
    #aboutFirstParagraph{
        padding: 20px;
    }
    .formInfo{
        width: 100%;
        padding: 0px 40px;
    }
}